<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/sessions" do %>

      <p>Email: <input name="email" type="text" autofocus class="form-control"></p>
      <p>Password: <input name="password" type="password" autofocus class="form-control"></p>

      <button class="btn btn-primary" style="background-color:#2c73b7;border-color:#2c73b7; margin-bottom:10px">Log in</button>

    <% end %>

    Don't have an account? Sign up <a href="/signup">here</a>!

  </div>
</div>
