<% meeting = Meeting.find_by(id: params["id"]) %>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/meetings/#{meeting.id}", method: "patch" do %>

      <p>New title (date in MM-DD-YY format): <input value="<%= meeting.title %>" name="title" type="text" autofocus class="form-control"></p>

      <button class="btn btn-primary">Update meeting</button>

    <% end %>

  </div>
</div>
