<% meeting = Meeting.find_by(id: params["id"]) %>

<div class="row">
  <div class="col-sm-6">

    <%= form_tag "/meetings/#{meeting.id}", method: "patch" do %>

      <p>Title: <input value="<%= meeting.title %>" name="title" type="text" autofocus class="form-control" required></p>
      <p>URL: <input value="<%= meeting.permalink %>" name="permalink" type="text" autofocus class="form-control" required></p>
      <p>Additional Info (eg. Zoom link): <textarea name="additional_info" type="text" autofocus class="form-control"><%= meeting.additional_info %></textarea></p>

      <button class="btn btn-primary" style="background-color:#2c73b7;border-color:#2c73b7">Update meeting</button>

    <% end %>

  </div>
</div>
