<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/meetings" do %>

      <p>Meeting title/date in MM-DD-YYYY format: <input name="title" type="text" autofocus class="form-control"></p>
      <button class="btn btn-primary" style="background-color:#2c73b7;border-color:#2c73b7">Create</button>

    <% end %>

  </div>
</div>