<% author = Author.find_by(id: params["id"]) %>

<h1><%= author.name %></h1>

<p>Books by this author:</p>

<div class="row">
  <% author.books.each do |book| %>
    <div class="col-sm-3">
      <%= link_to image_tag(book.cover_url, class: 'img-fluid'), "/books/#{book.id}" %>
    </div>
  <% end %>
</div>
