<div class="row">

  <div class="my-3">
    <%= link_to "Add a New Author", "/authors/new", class: 'btn btn-primary' %>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% Author.all.order('name').each do |author| %>
        <tr>
          <td><%= link_to author.name, "/authors/#{author.id}" %></td>
          <td><%= link_to "[Edit]", "/authors/#{author.id}/edit" %></td>
          <td><%= link_to "[Delete]", "/authors/#{author.id}", method: 'delete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
