<% user = User.find_by(id: params["id"]) %>

<h4>Change Display Name, Email or Password</h4>

<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/users/#{user.id}", method: "patch" do %>

      <p>Display name: <input value="<%= user.username %>" name="username" type="text" autofocus class="form-control" required></p>
      <p>Email: <input value="<%= user.email %>" name="email" type="text" autofocus class="form-control" required></p>
      <p>New Password (can be the same as your current one): <input value="<%= user.password %>" name="password" type="password" autofocus class="form-control" required></p>

      <button class="btn btn-primary" style="background-color:#2c73b7;border-color:#2c73b7">Update</button>
    <% end %>

    <a class="btn btn-primary" href="/"  style="background-color:#2c73b7;border-color:#2c73b7; margin-top:10px; color:white">Cancel</a>
  </div>
</div>
