<div class="row">
  <div class="col-sm-4">

    <%= form_tag "/users" do %>

      <p>Email: <input name="email" type="text" autofocus class="form-control"></p>
      <p>Password: <input name="password" type="password" autofocus class="form-control"></p>
      <p>Displayed name: <input name="username" type="text" autofocus class="form-control" placeholder="Jay Doe"></p>
      <p>Access code: <input name="access_code" type="password" autofocus class="form-control"></p>

      <button class="btn btn-primary">Sign up</button>

    <% end %>

  </div>
</div>
