<h1>Add a Book</h1>

<div class="row">
  <div class="col-sm-8">

    <%= form_tag "/books" do %>

      <p>Title: <input name="title" type="text" autofocus class="form-control"></p>

      <p>Cover: <input name="cover_url" type="text" class="form-control"></p>
      <div class="form-group">
        <label for="summary">Summary</label>
        <textarea class="form-control" name="summary" rows="3"></textarea>
      </div>
      <p>Author:
          <select name="author_id">
            <% Author.order('name').each do |author| %>
              <option value="<%= author.id %>">
                <%= author.name %>
              </option>
            <% end %>
          </select>
      </p>
      <button class="btn btn-primary">Add book</button>

    <% end %>

  </div>
</div>
