/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.center-cropped {
  width: 300px;
  height: 420px;
  background-position: center center;
  background-repeat: no-repeat;
}

.module {
  overflow: hidden;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.btn {
  background-color: #2c73b7;
  border-color: #2c73b7;
}

a {
  color:#2c73b7;
}

a:hover {
  color: #2c73b7;
}

a:visited {
  color: #2c73b7;
}

a.toggle-pell-display {
  cursor: pointer;
}

a.toggle-pell-display:hover {
  text-decoration: underline !important;
}

.meeting-title {
  color: #000;
}

.meeting-title:hover {
  color: #000;
}

.meeting-title:visited {
  color: #000;
}

.list-group-item:hover {
  background-color: rgba(204,229,255,0.5);
}

.card-text {
  color: #2d3b45
}

