/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.center-cropped {
  width: 300px;
  height: 420px;
  background-position: center center;
  background-repeat: no-repeat;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.module {
  overflow: hidden;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}


a {
  color: #000;
}

a:hover {
  color: #000;
}

a:visited {
  color: #000;
}

.card-body:hover {
  background-color: rgba(204,229,255,0.5);
}

